.container {
  perspective: 1000px;
}

.D3MainContainner {
  background-image: url("laptop.png");

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.box {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg);
  transition: transform 0.5s;
  animation: rotate 15s infinite linear;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.card {
  position: absolute;
  width: 100px;
  height: 100px;
  background: blue;
  text-align: center;
  line-height: 200px;
  font-size: 32px;
  border: 2px solid white;

  box-sizing: border-box;
  border-radius: 20px;
}

.card span {
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left {
  transform: rotateY(-90deg) translateZ(100px);
}

#right {
  transform: rotateY(90deg) translateZ(100px);
}

#top {
  transform: rotateX(90deg) translateZ(100px);
}

#bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

#front {
  transform: translateZ(100px);
}

#back {
  transform: rotateY(180deg) translateZ(100px);
}
